<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you, <%= @passenger.name %>!</h1>
    <p>
      You have successfully purchased you flight.
    </p>
    <p>
      Your booking information can be found here: <%= @url %>.
    </p>
  </body>
</html>